@import "_reset";
@import "_mixins";

@include global-reset;

$background-color: 	#FDFDFD;
$header-height : 45px;
$searchbar-height : 30px;
$searchbar-top-padding : 10px;


body {
  background-color : $background-color;

  font-family: "liberation-serif-1", "liberation-serif-2";
}

#content{
   float:left;
   position:abosolute;
   width:700px;
}

#right{
   float:right;
   width:200px;
   position:abosolute;
}

#searchbar {
	position:fixed;
	width : 100%;
	top: $header-height;
	height : $searchbar-height;
	padding-right: 10px; 
	padding-top: $searchbar-top-padding;
	background-color : #F0F0F0;
	z-index : 150;
}


#searchbar {
 padding-left:10px;
}


#searchbar input{
	float:right;
}

#main{
   padding-top:50px;
}

#header {
	height: $header-height;
	width: 100%;
	color: #FFF;
	position:fixed;
	background: #333;
	z-index: 200;
	top: 0px;
}

#header ul{
	padding: 7px;  
	
}
#header ul {
	float:left;
}
#header ul li {
	padding: 0 10px;
	float: left;
}

#header a {
	text-decoration: none;
	color: #DDD;
}

#header a:hover  {
	color: #FFF;
}
#header a:hover {
	text-decoration: overline;
}



#logotext{
	font-size:30px;
	color : white;
	font-family: "liberation-serif-1", "liberation-serif-2";
}
